
<div class="card" >

  <div class="card-body">
    <h5 class="card-title">Datos del empleado</h5>
    <form>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">BRM (Buscar))</label>
          <input [(ngModel)]="userData.brm" type="text" class="form-control" id="brm" name="brm" >
        </div>
        <div class="form-group col-md-6">
          <label for="puesto">Puesto</label>
          <select [(ngModel)]="userData.puesto" name="puesto" id="puesto" class="form-control" aria-placeholder="selecciona uno">
          
            <option>Desarrollador frontEnd Jr.</option>
            <option>Desarrollador frontEnd sr.</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group  col-md-6">
          <label for="inputAddress">nombre</label>
          <input [(ngModel)]="userData.nombre" name="nombre" type="text" class="form-control" id="nombre" >
        </div>
        <div class="form-group  col-md-6">
          <label for="foto">Foto</label>
          <div class="custom-file">
            <input (change)="cargandoImagen($event)" name="foto" type="file" class="custom-file-input" id="foto" >
            <label class="custom-file-label" for="foto">{{userData.foto}}</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" (click)="registrarUsuario()">Agregar</button>
    </form>
  </div>
</div>
<h1 style="text-align: center;">Empleados</h1>
<div class="card">
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">BRM</th>
          <th scope="col">Nombre</th>
          <th scope="col">Foto del empleado</th>
          <th scope="col">Puesto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list | slice:init:end">
          <th>{{item.brm}}</th>
          <th>{{item.nombre}}</th>
          <th>{{item.foto}}</th>
          <th>{{item.puesto}}</th>
          <th>
            <button (click)="editar(item.id)" type="button" class="btn btn-warning" style="margin: 10px">Editar</button>
            <button (click)="eliminar(item.id)" type="button" class="btn btn-danger" style="margin: 10px">Eliminar</button>
          </th>
        </tr>
        <div [style.display]="display"> 
          <button type="button" class="btn btn-primary" (click)="clickAfterPage()">Pagina anterior</button>
          <button type="button" class="btn btn-primary" (click)="clickNextPage()">Siguiente pagina</button>

        </div>
       
      </tbody>
    </table>
  </div>
</div>
