<div class="card" >

    <div class="card-body">
      <h5 class="card-title">Datos del empleado</h5>
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">BRM (Buscar))</label>
            <input [(ngModel)]="userData.brm" type="text" class="form-control" id="brm" name="brm" >
          </div>
          <div class="form-group col-md-6">
            <label for="puesto">Puesto</label>
            <select [(ngModel)]="userData.puesto" name="puesto" id="puesto" class="form-control">
              <option>Desarrollador frontEnd Jr.</option>
              <option>Desarrollador frontEnd sr.</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group  col-md-6">
            <label for="inputAddress">nombre</label>
            <input [(ngModel)]="userData.nombre" name="nombre" type="text" class="form-control" id="nombre" >
          </div>
          <div class="form-group  col-md-6">
            <label for="foto">Foto</label>
            <div class="custom-file">
              <input (change)="cargandoImagen($event)" name="foto" type="file" class="custom-file-input" id="foto" >
              <label class="custom-file-label" for="foto">{{userData.foto}}</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary" (click)="actualizar()">Actualizar</button>
        <button type="submit" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
      </form>
    </div>
  </div>
